<li>
    <input type="checkbox" name=""/>
    <a href="/todo/show/<%= todo.id %>">
        <h2><%=todo.description%></h2>
    </a>
    <span class="pomodoro-estimate"><%= todo.pomodoro_estimate%></span>
</li>