<h1> 
	<img class="company logo" 
		 src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png" 
		 alt="company logo"> 
		 Workshop Todo List
</h1>

<ul class="card">
    <!--<%= render @todos %>-->
    <% @todos.each do |todo| %>
    <li>
        <input type="checkbox" name=""/>
        <a href="/todo/show/<%= todo.id %>">
            <h2><%=todo.description%></h2>
        </a>
        <span class="pomodoro-estimate"><%= todo.pomodoro_estimate%></span>
    </li>
    <% end %>
</ul>

<a href="/todo/new"> LETS ADD A TODO RIGHT HERE BY CLICKING THIS</a>